.calculator{
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    background-color: rgb(200, 200, 200);

}

.display{
    height: 20vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: aliceblue;
}

.NumberButtons{
    position: relative;
    float: left;
    display: grid;
    width: 60%;
    height: 80%;
    grid-template-columns: 1fr 1fr 1fr;
}
.NumberButton{
    background-color: darkblue;
    color: aliceblue;
    border: 2px solid black;
    margin: 10px;
    
    font-weight: 800;
    font-size: 3em;
    text-align: center;
}


.NumberButton span{
    display: inline-block;
    margin-top: 10%;
}

.NumberButton:hover{
    background-color: blue;
}


.displaydiv{
    height: 100%;
    float: left;
    width: 20%;
    text-align: center;
    color: darkblue;
    font-size: 5em;
}
.displaydiv span{
    display: inline-block;
    margin-top: 5vh;
}

.CommandButtons{
    position: relative;
    float: left;
    display: grid;
    width: 40%;
    height: 80%;
    grid-template-columns: 1fr 1fr 1fr;
}